#sudoku {
    
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    resize: none;

}

.tablero{
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.fila{
    width: 882px;
    height: 882px;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}

#sudoku input{
   
    width: 4.761904761%;
    height: 4.761904761%;
    box-sizing: border-box;
    border-spacing: 0;

}
.odd-section {
    background-color: lightgrey;
}
.cuadrado{
    background-color: #f2fcff;
    border: 1px gray solid;
}
.cuadradoInterno{
    background-color: #9fc5d1;
    border: 1px gray solid;
}
.cuadradoMezcla{
    background-color: #d1e7ed;
    
    border: 1px gray solid;
}
.cuadradoVacio{
    border: 1px purple; 
}


